<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="ga-chart"
    attributes="
        type
        auto
        ids
        metrics
        dimensions
        filters
        segment
        sort
        startDate
        endDate
        lastNays
        startIndex
        maxResults
        config">
<template>
<style no-shim>
  @import url(http://ajax.googleapis.com/ajax/static/modules/gviz/1.1/table/table.css);
</style>
<style>
:host {
  display: block;
}
#myChart {
  display: inline-block;
}
</style>
<content></content>
<div id="myChart"></div>
</template>
<script>
Polymer('ga-chart', {
  type: 'table', // default to type="table"
  auto: false,
  ready: function() {
    var typeMap = {
      'table': gadash.getCoreChart,
      'line': gadash.getCoreLineChart,
      'bar': gadash.getCoreBarChart,
      'column': gadash.getCoreColumnChart,
      'pie': gadash.getCorePieChart
    };

    this.gaQuery = typeMap[this.type](this.getConfig());
    this.gaQuery.config.elementId = this.$.myChart;

    if (this.auto) {
      this.gaQuery.execute();
    }
  },
  getConfig: function() {
    var ids = this.ids;
    var metrics = this.metrics;
    var dimensions = this.dimensions;
    var filters = this.filters;
    var segment = this.segment;
    var sort = this.sort;
    var startDate = this.startDate;
    var endDate = this.endDate;
    var lastNdays = this.lastNdays;
    var startIndex = this.startIndex;
    var maxResults = this.maxResults;

    var config = {
      //elementId: element,
      query: {
        ids: ids,
        metrics: metrics,
        dimensions: dimensions,
        filters: filters,
        segment: segment,
        sort: sort,
        startDate: startDate,
        endDate: endDate,
        lastNdays: lastNdays,
        startIndex: startIndex,
        maxResults: maxResults
      }
    };

    return config;
  }

});
</script>
</polymer-element>
